# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# uv package manager
uv.lock
dist/
.uv-cache/

# Large Datasets and intermediate files
data/raw/
data/processed/
*.edf
*.seizures

# Allow directory structure tracking
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / Editor artifacts
.DS_Store
*.swp
*.swo
