# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# Large Datasets and intermediate files
data/raw/
data/processed/
*.edf
*.seizures

# Allow directory structure tracking
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS / Editor artifacts
.DS_Store
*.swp
*.swo

# Experiment outputs
results/*.png
results/pipeline_a_test/
